# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

logs
*.log
npm-debug.log*
yarn-debug.log
yarn-error.log
/.angular/cache

# Dependências do Node.js
/node_modules

# Arquivos de build e output
/dist
/www
/platforms
/coverage
/.out

# Arquivos de configuração de IDEs e Editores
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-project
*.sublime-workspace

# Arquivos gerados pelo Sistema Operacional
.DS_Store
Thumbs.db
ehthumbs.db

# Arquivos temporários e de ambiente
.tmp
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
environment.ts
environment.prod.ts

# Arquivos de dependências específicas do Typescript
*.tsbuildinfo

# Arquivos de configuração de JIT (Just-In-Time) do Angular
/src/ngsw.json
