<div class="login-container" fxLayout="column" fxLayoutAlign="center center">
  <div class="login-card-wrapper">
    <mat-card class="login-card">
      <div class="card-inner-content">
        <mat-card-header>
          <div class="title-container" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
            <h1 class="login-title">SitePost</h1>
            <mat-icon class="title-icon">interests</mat-icon>
          </div>
        </mat-card-header>

        <mat-card-content fxLayout="column">
          <mat-form-field appearance="outline">
            <mat-label>Usuário</mat-label>
            <input matInput placeholder="Digite seu usuário" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="Digite sua senha" />
            <button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
              <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
          </mat-form-field>
          <mat-checkbox class="save-login-checkbox" [checked]="true"> Salvar o login realizado </mat-checkbox>
        </mat-card-content>

        <mat-card-actions>
          <button mat-raised-button color="primary" class="login-button">ENTRAR</button>
        </mat-card-actions>
      </div>
    </mat-card>
  </div>
</div>
