.main-toolbar {
  height: 50px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  background-color: var(--mat-sys-background);
  position: relative;
  overflow: hidden;
}

.toolbar-title-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/src/assets/header-background.jpg');
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.toolbar-buttons button {
  margin-left: 8px;
}

.main-content {
  padding-top: 50px;
  height: calc(100vh - 50px);
  box-sizing: border-box;
  background-color: var(--mat-sys-color-surface-container);
}
